.example-card {
  max-width: 400px;
  margin-bottom: 20px;
}

.example-card:hover {
  border: 1px solid powderblue;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.addBtn {
  color: black;
  margin-bottom: 20px;
  border: 1px solid powderblue;
}

.button-row button {
  margin-right: 8px;
}
