<h2>List of Fishing Spots</h2>

<button mat-button color="primary" class="addBtn">
  <a routerLink="/fishingspots/new">Add a Fishing Spot</a>
</button>

<mat-grid-list cols="1" *ngFor="let fishingspot of fishingspots">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ fishingspot.name }}</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="{{ fishingspot.imageURL }}"
      alt="{{ fishingspot.name }}"
    />
    <mat-card-content>
      <p>
        {{ fishingspot.body }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="button-row">
        <button
          mat-stroked-button
          color="accent"
          (click)="editFishingSpot(fishingspot)"
        >
          Edit
        </button>
        <button mat-stroked-button color="primary">Show</button>
        <button
          mat-stroked-button
          color="warn"
          (click)="deleteFishingSpot(fishingspot)"
        >
          Delete
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</mat-grid-list>
